@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        /* weight 400 */
        src: url("../fonts/Dana/Dana-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        /* weight 500 */
        src: url("../fonts/Dana/Dana-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        /* weight 600 */
        src: url("../fonts/Dana/Dana-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: url("../fonts/Morabba/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: url("../fonts/Morabba/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: url("../fonts/Morabba/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

    body {
        background-image: url("../images/headerBgDesktop.webp");
        background-repeat: no-repeat;
    }
}

