@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        /* weight 400 */
        src: url("../fonts/Dana/Dana-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        /* weight 500 */
        src: url("../fonts/Dana/Dana-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        /* weight 600 */
        src: url("../fonts/Dana/Dana-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: url("../fonts/Morabba/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: url("../fonts/Morabba/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: url("../fonts/Morabba/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

}

@layer components {
    .submenu {
        @apply hidden flex-col text-zinc-600 dark:text-white pr-7 gap-y-3 mt-3 text-sm;
    }

    .submenu--open {
        @apply flex;
    }

    .submenu__item--active {
        padding-right: 10px;
        position: relative;
        color: #FDBA74;
    }

    .submenu__item--active::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        background-color: #FDBA74;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .overlay {
        @apply md:hidden invisible opacity-0 bg-black/40 fixed inset-0 w-full z-10 transition-all;
    }

    .overlay--visible {
        @apply visible opacity-100;
    }

    .circle {
        @apply flex items-center justify-center border rounded-full;
    }

    .circle--main {
        @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4 hidden md:flex;
    }

    .circle--lg {
        @apply w-[203px] h-[203px] border-white/25;
    }

    .circle--md {
        @apply w-[145px] h-[145px] border-white/50;
    }

    .circle--sm {
        @apply w-[95px] h-[95px] border-white/80;
    }

    .section-title {
        @apply text-2xl md:text-5xl font-MorabbaMedium text-zinc-700 dark:text-white;
    }

    .section-subtitle {
        @apply inline-block text-lg md:text-3xl font-MorabbaLight mt-0.5 md:mt-1.5 text-zinc-700 dark:text-white;
    }

    .section-link {
        @apply flex items-center text-base md:text-xl pr-3 pl-1 md:gap-x-1 text-orange-300 tracking-tightest transition-colors rounded-md md:hover:bg-orange-300/20;
    }

    .offer {
        @apply relative text-gray-400;
    }

    .offer::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        inset: 0;
        margin: auto;
        background-color: red;
        top:-2px;
    }

    @media screen and (min-width: 1280px) {
        html.dark .products {
            background-image: url("../images/products-bg.png");
            height: 900px;
        }

        .products {
            background: linear-gradient(rgba(243, 244, 246, 0.65), rgba(243, 244, 246, 0.65)), url("../images/products-bg.png");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 900px;
        }
    }

}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center;
    }
}